.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
 
  background-color: black;
}

h2{
  color: black;
}
.login-form {
  width: 300px;
  padding: 30px;
  background-color: #f8f9fa; 
  border-radius: 10px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s; 
}

.login-form:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #066acef6;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
  border: 2px solid black; 
}