.principalSection {
  display: flex;
  justify-content: space-between;
  gap: 130px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: rgb(44, 164, 164);
  
}

.principalSection .Principal {
  width: 60%;
  padding: 10px;
  bottom: 30%;
}

.Principal img {
  width: 100%;
  height: auto;
}


.editIntegrantes{
    background-color: rgb(44, 164, 164);
}

 
.redesSociail{
display: flex;
justify-content: center;  
  gap: 20px;
  width: 100%;
  
  margin: 0 auto;
  background-color: rgb(44, 164, 164);
}

.textoContato {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .principalSection {
    flex-direction: column; 
    gap: 10px; 
    align-items: center; 
  }

  .principalSection .Principal {
    width: 90%;
  }

  .redesSociail {
    flex-direction: column; 
    align-items: center;
    gap: 10px; 
  }
}
