.cardIntegrantes{
    
 
   
    
    width: 20vw;
    min-width: min-content;
    font-family: arial;
    border-radius: 5%;
    box-shadow: blue 2px 2px 5px;
    border: 3px;
    display: flex;
    justify-content: space-between;
    gap: 130px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(44, 164, 164);
}


